# Ignore environment variables files
.env

# Python caching
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Ignore session and cookies data
data/session.json
data/debug/
data/tiktok_profile/
data/temp_videos/

# Logs and OS junk
*.log
*.tmp
.DS_Store

